{% extends "base.html" %}

{% block title %}マイページ{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">自分が投稿したファイル</h3>
    <a href="{% url 'cms:file_add' %}" class="btn btn-default btn-sm">追加</a>
    <table class="table table-striped table-hover">
      <thead>
        <tr class="info">
          <th>ID</th>
          <th>ファイル名</th>
          <th>カテゴリ</th>
          <th>科目名</th>
          <th>授業名</th>
          <th>教員名</th>
          <th>作成者</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{ file.id }}</td>
          <td>
              <a href="{% url 'cms:file_content' file_id=file.id %}">{{ file.name }}</a>
          </td>
          <td>{{ file.category }}</td>
          <td>{{ file.get_subject_display }}</td>
          <td>{{ file.class_name }}</td>
          <td>{{ file.teacher }}</td>
          <td>{{ file.author }}</td>
          <td>
            <a href="{% url 'cms:file_mod' file_id=file.id %}" class="btn btn-default btn-sm">修正</a>
            <a href="{% url 'cms:file_del' file_id=file.id %}" class="btn btn-default btn-sm">削除</a>
            {# <a href="{% url 'cms:comments_list' file_id=file.id %}" class="btn btn-default btn-sm btn-primary">コメントの一覧</a>#}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
